/*
font-family: 'Open Sans', sans-serif;
font-family: 'Ubuntu', sans-serif;
*/

/* this is mobile*/

body {
  background-color: white;
}

.uzo-header {
  height: 48px;
}

.app-navigation {
  float: right;
}
.sr-only {
  display: block;
}
.fa-bars {
  display: block;
}

.container {
  max-width: 987px;
  background-color: transparent;
  margin: 0 auto;
  position: relative;
}

.hero-banner .container {
  height: 420px;
}
.flex-items {
  flex-direction: column;
  display: flex;
}
.hero-banner {
  height: 420px;
  position: relative;
  margin-bottom: 20px;
  text-align: left;
  vertical-align: middle;
}

.jellyfish {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.call-to-action {
  width: 100%;
  margin-bottom: 20px;
}
.call-to-action h3 {
  margin: 0;
  line-height: 220px;
  text-align: center;
  vertical-align: middle;
}
.column {
  background-image: url("../images/dog.png");
  height: 220px;
  margin-bottom: 20px;
}

.footer {
  background-color: #c01887;
  height: 162px;
  font-family: "Open Sans";
}

aside ul {
  list-style: none;
}

/*this is desktop*/

@media screen and (min-width: 767px) {
  body {
    background-color: white;
  }

  .uzo-header {
    background-color: transparent;
  }

  .uzo-header .container {
    height: 48px;
  }
  .fa-bars {
    display: none;
  }

  .hero-banner .container {
    height: 420px;
  }

  .flex-items {
    flex-direction: row;
    display: flex;
  }
  .column {
    background-color: #ca1dcd;
    background-image: url("../images/dog.png");
    height: 220px;
    width: 313px;
    margin-bottom: 0;

    margin-right: 20px;
  }

  .column:nth-child(3) {
    margin-right: 0;
    background-image: url("../images/butterfly.png");
  }

  .footer .container {
    height: 172px;
    background-color: #c01887;
  }
  .jellyfish {
    position: absolute;
    bottom: 20px;
    left: 20px;
  }
}
* {
  margin: 0;
  padding: 0;
}
.jellyfish h2 {
  font-size: 36px;
}

.jellyfish p {
  font-size: 24px;
}
.hero-banner {
  background-image: url("../images/jellyfish.png");

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
